---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Data Processing Transparency Terms">
  <section>
    <h1>Data Processing Transparency Terms</h1>
    This site strives to never collect data that it can tie to your identity or your
    device - unless directly passed by you.

    <h2>Contact</h2>
    This site is a private project operated by <a
      target="blank"
      class="underline"
      href="https://de.linkedin.com/in/hannes-kuhl-4a10a811b">Hannes Kuhl</a
    >.

    <h2>What data do we collect?</h2>
    <h3>When you access this website</h3>
    We receive the following data:
    <ul class="list-disc ml-6">
      <li>IP address</li>
      <li>Browser type</li>
      <li>Operating system</li>
      <li>Referring website</li>
      <li>Pages you visited on our website</li>
      <li>Timestamp of your visit</li>
    </ul>
    We use the logs of your service usage to monitor the health of the service. We
    delete the logs after 14 days.

    <h3>Analytics</h3>
    In order to understand which parts of this site are popular and which features
    are used how often, we use an anonymous analytics solution. This solution will
    store information such as
    <ul class="list-disc ml-6">
      <li>the URL you are on</li>
      <li>your Browser</li>
      <li>the current date</li>
      <li>
        a descrption of what you did (e. g. page_load, search_result_click)
      </li>
    </ul>
  </section>
</Layout>
